In [4]:
import pandas as pd

## Importing a CSV file

#### Reading and Storing data in a dataframe

In [5]:
df = pd.read_csv("pokedex.csv")

print(type(df))

<class 'pandas.core.frame.DataFrame'>

## Printing the dataframe

In [8]:
# to print the complete dataframe
# df.head(5) # to print first 5 rows
# df.tail(5) # to print last 5 rows
df

,DexNum,Name,HP,PA,PD,SA,SD,SP,BST,Type1,Type2,Abil1,Abil2
0,1,BULBASAUR,45,49,49,65,65,45,318,GRASS,...,OVERGROW,...
1,2,IVYSAUR,60,62,63,80,80,60,405,GRASS,POISON,OVERGROW,...
2,3,VENUSAUR,80,82,83,100,100,80,525,GRASS,POISON,OVERGROW,...
3,4,CHARMANDER,39,52,43,60,50,65,309,FIRE,...,BLAZE,...
4,5,CHARMELEON,58,64,58,80,65,80,405,FIRE,...,BLAZE,...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,382,KYOGRE,100,100,90,150,140,90,670,WATER,...,DRIZZLE,...
382,383,GROUDON,100,150,140,100,90,90,670,GROUND,...,DROUGHT,...
383,384,RAYQUAZA,105,150,90,150,90,95,680,DRAGON,FLYING,AIR_LOCK,...
384,385,JIRACHI,100,100,100,100,100,100,600,GRASS,STEEL,SERENE_GRACE,...
385,386,MISSINGNO.,50,150,50,150,50,150,600,NORMAL,GHOST,PRESSURE,...

#### Printing the column names / headers

In [10]:
l = list(df.columns)

print(type(l))
print(l)

<class 'list'>
['DexNum', 'Name', 'HP', 'PA', 'PD', 'SA', 'SD', 'SP', 'BST', 'Type1', 'Type2', 'Abil1', 'Abil2']

#### Accessing specific columns

In [ ]:
new_df = df[['Name', 'Type1', 'Type2']]
new_df

#### Accessing specific rows

In [11]:
row = df.iloc[3]
print(type(row))
row

<class 'pandas.core.series.Series'>

DexNum             4
Name      CHARMANDER
HP                39
PA                52
PD                43
SA                60
SD                50
SP                65
BST              309
Type1           FIRE
Type2            ...
Abil1          BLAZE
Abil2            ...
Name: 3, dtype: object

In [12]:
slice = df.iloc[3:6]
print(type(slice))
slice

<class 'pandas.core.frame.DataFrame'>

,DexNum,Name,HP,PA,PD,SA,SD,SP,BST,Type1,Type2,Abil1,Abil2
3,4,CHARMANDER,39,52,43,60,50,65,309,FIRE,...,BLAZE,...
4,5,CHARMELEON,58,64,58,80,65,80,405,FIRE,...,BLAZE,...
5,6,CHARIZARD,78,84,78,109,85,100,534,FIRE,FLYING,BLAZE,...

#### Accessing specific cells

In [14]:
cells = df.iloc[[0, 3, 6], [1, 9, 10]] # 0,3,6 is for rows # 1,9, 10 is for cols
cells

         Name  Type1 Type2
0   BULBASAUR  GRASS   ...
3  CHARMANDER   FIRE   ...
6    SQUIRTLE  WATER   ...

#### Accessing specific rows based on some condition

In [17]:
flying_type_mons = df.loc[df['Type1'] == "FLYING"].reset_index(drop = True)
flying_type_mons

,DexNum,Name,HP,PA,PD,SA,SD,SP,BST,Type1,Type2,Abil1,Abil2
0,21,SPEAROW,40,60,30,31,31,70,262,FLYING,...,KEEN_EYE,...
1,22,FEAROW,65,90,65,61,61,100,442,FLYING,DARK,KEEN_EYE,...
2,83,FARFETCH'D,52,65,55,58,62,60,352,FLYING,...,KEEN_EYE,INNER_FOCUS
3,84,DODUO,35,85,45,35,35,75,310,FLYING,...,RUN_AWAY,EARLY_BIRD
4,85,DODRIO,60,110,70,60,60,100,460,FLYING,FIGHTING,RUN_AWAY,EARLY_BIRD
5,163,HOOTHOOT,60,30,30,36,56,50,262,FLYING,...,INSOMNIA,KEEN_EYE
6,164,NOCTOWL,100,50,50,76,96,70,442,FLYING,GHOST,INSOMNIA,KEEN_EYE
7,177,PIDOVE,40,50,45,70,45,70,320,FLYING,...,SYNCHRONIZE,EARLY_BIRD
8,178,UNFEZANT,65,75,70,95,70,95,470,FLYING,PSYCHIC,SYNCHRONIZE,EARLY_BIRD

#### Getting statistics of the dataframe

In [18]:
df.describe()

,DexNum,HP,PA,PD,SA,SD,SP,BST
count,386.000000,386.000000,386.000000,386.000000,386.000000,386.000000,386.000000,386.000000
mean,193.500000,66.279793,71.505181,68.683938,66.409326,67.593264,64.308290,404.779793
std,111.572846,28.153834,28.326963,30.544812,27.469999,27.727484,27.034577,107.997695
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,180.000000
25%,97.250000,50.000000,50.000000,49.250000,45.000000,50.000000,45.000000,314.000000
50%,193.500000,63.000000,70.000000,65.000000,65.000000,65.000000,62.000000,410.000000
75%,289.750000,80.000000,90.000000,85.000000,85.000000,80.000000,85.000000,485.000000
max,386.000000,255.000000,160.000000,230.000000,154.000000,230.000000,160.000000,680.000000

#### Sorting the dataframe

In [ ]:
# this sorts the df order by the specified column and creates / returns a new dataframe
# this doesnt overwrite the original dataframe
df.sort_values(['HP'], ascending=False).head(5).reset_index(drop = True)
df

## Altering the structure in the dataframe

#### Adding a new column

In [ ]:
# df['BST'] = df.iloc[:,4:10].sum(axis=1)

df['isDefensive'] = (df['PA'] + df['SA'] + df['SP'] < df['HP'] + df['PD'] + df['SD'])
df.head(9)

#### Dropping a column

In [ ]:
# this drops the specified column and creates / returns a new dataframe
# this doesnt overwrite the original dataframe
df.drop(columns = ['isDefensive']).head(3)

In [ ]:
# to permanently drop the column
df = df.drop(columns = ['isDefensive'])
df.head(3)

#### Rearranging the columns

In [ ]:
# Be careful while using hardcoded values and re-running the cell
cols = list(df.columns.values)
cols
# this rearranges the specified column and creates / returns a new dataframe
# this doesnt overwrite the original dataframe

new_df = df[["Name"] + ["Type1"] + ["Type2"] + ["BST"]]
new_df.head(9)

## Saving changes to a CSV

In [ ]:
# df.to_excel("pokemon_modified_data.xlsx", index = False)
# df.to_csv("pokemon_modified_data.csv", index = False, sep = "\t")
new_df.to_csv("modified_pokedex.csv", index = False)

## Filtering the data

In [ ]:
temp_df = df.loc[df['Type1'] == "FLYING"].reset_index(drop = True)

temp_df

In [ ]:
temp_df = df.loc[((df['Type1'] == "FLYING") | (df['Type2'] == "FLYING")) & (df['BST'] >= 450)].reset_index(drop = True)

temp_df

In [ ]:
temp_df = df.loc[~(df['SP'] > 10)].reset_index(drop = True)

temp_df

# or  -> |
# and -> &
# not -> ~

In [ ]:
temp_df = df.loc[df['Name'].str.contains("KING")]

temp_df

In [ ]:
temp_df = df.loc[df["Name"].str.contains('^PI[A-Z]*', regex = True)]
# regular expression : ^PI[A-Z]* -> any name starting with "PI..."
temp_df

## Updating values

#### Updating values based on some condition

In [ ]:
# temp_df = df
# makes a shallow copy

# It's safer to make a deep copy

temp_df = df.copy()
temp_df.loc[temp_df['Type2'] == "POISON", 'Type2'] = 'VENOM'
# temp_df.loc[condition, columnToUpdate] = newValue

temp_df.head(6)

In [ ]:
# updating the value of one column based on a condition on multiple columns
temp_df = df.copy()
temp_df.loc[(temp_df['Type2'] == "POISON") | (temp_df['Type2'] == "FLYING"), 'SP'] += 1000
temp_df.head(6)

In [ ]:
# updating the value of multiple columns based on a condition on one column
temp_df = df.copy()
temp_df.loc[(temp_df['Type1'] == "GRASS"), ['PD', 'SD']] += [1000, 2000]
temp_df.head(6)

In [ ]:
# updating the value of multiple columns based on a condition on multiple columns
temp_df = df.copy()
temp_df.loc[(temp_df['Type2'] == "POISON") | (temp_df['Type2'] == "FLYING"), ['PD', 'SD']] += [1000, 2000]
temp_df.head(6)

## Aggregate Statistics / Group By

In [ ]:
df.describe()

In [ ]:
print(df.dtypes)

In [ ]:
# grouping based on typing such that charizard gets counted in both FIRE & FLYING type
df.groupby(['Type1']).mean(numeric_only=True)

# df.groupby('Type1').mean(numeric_only=True)

In [ ]:
df.groupby('Type1').mean(numeric_only=True).sort_values('BST', ascending=False).head(5)

In [ ]:
df.groupby('Type1').sum(numeric_only=True).sort_values('BST', ascending=False).head(5)

In [ ]:
df.groupby(['Type1', 'Type2']).count().sort_values('BST', ascending=False)

## Working with a large amounts of data
Incompelete

In [ ]:
temp_df = pd.DataFrame(columns=df.columns)
temp_df

In [ ]:
for df in pd.read_csv('pokedex.csv', chunksize=5):
    results = df.groupby('Type1').count()
    temp_df = pd.concat([temp_df, results])

temp_df