In [1]:
import pandas as pd

## Importing a CSV file

#### Reading and Storing data in a dataframe

In [37]:
df = pd.read_csv("pokedex.csv")

print(type(df))

<class 'pandas.core.frame.DataFrame'>

## Printing the dataframe

In [10]:
# to print the complete dataframe
# df.head(5) # to print first 5 rows
# df.tail(5) # to print last 5 rows
df

,DexNum,Name,HP,PA,PD,SA,SD,SP,BST,Type1,Type2,Abil1,Abil2
0,1,BULBASAUR,45,49,49,65,65,45,318,GRASS,...,OVERGROW,...
1,2,IVYSAUR,60,62,63,80,80,60,405,GRASS,POISON,OVERGROW,...
2,3,VENUSAUR,80,82,83,100,100,80,525,GRASS,POISON,OVERGROW,...
3,4,CHARMANDER,39,52,43,60,50,65,309,FIRE,...,BLAZE,...
4,5,CHARMELEON,58,64,58,80,65,80,405,FIRE,...,BLAZE,...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,382,KYOGRE,100,100,90,150,140,90,670,WATER,...,DRIZZLE,...
382,383,GROUDON,100,150,140,100,90,90,670,GROUND,...,DROUGHT,...
383,384,RAYQUAZA,105,150,90,150,90,95,680,DRAGON,FLYING,AIR_LOCK,...
384,385,JIRACHI,100,100,100,100,100,100,600,GRASS,STEEL,SERENE_GRACE,...
385,386,MISSINGNO.,50,150,50,150,50,150,600,NORMAL,GHOST,PRESSURE,...

#### Printing the column names / headers

In [55]:
l = list(df.columns)

print(type(l))
print(l)

<class 'list'>
['DexNum', 'Name', 'HP', 'PA', 'PD', 'SA', 'SD', 'SP', 'BST', 'Type1', 'Type2', 'Abil1', 'Abil2']

#### Accessing specific columns

In [ ]:
new_df = df[['Name', 'Type1', 'Type2']]
new_df

,DexNum,Name,HP,PA,PD,SA,SD,SP,BST,Type1,Type2,Abil1,Abil2
0,1,BULBASAUR,45,49,49,65,65,45,318,GRASS,...,OVERGROW,...
1,2,IVYSAUR,60,62,63,80,80,60,405,GRASS,POISON,OVERGROW,...
2,3,VENUSAUR,80,82,83,100,100,80,525,GRASS,POISON,OVERGROW,...
3,4,CHARMANDER,39,52,43,60,50,65,309,FIRE,...,BLAZE,...
4,5,CHARMELEON,58,64,58,80,65,80,405,FIRE,...,BLAZE,...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,382,KYOGRE,100,100,90,150,140,90,670,WATER,...,DRIZZLE,...
382,383,GROUDON,100,150,140,100,90,90,670,GROUND,...,DROUGHT,...
383,384,RAYQUAZA,105,150,90,150,90,95,680,DRAGON,FLYING,AIR_LOCK,...
384,385,JIRACHI,100,100,100,100,100,100,600,GRASS,STEEL,SERENE_GRACE,...
385,386,MISSINGNO.,50,150,50,150,50,150,600,NORMAL,GHOST,PRESSURE,...

#### Accessing specific rows

In [21]:
slice = df.iloc[3:6]
print(type(slice))

row = df.iloc[3]
print(type(row))

slice

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

,DexNum,Name,HP,PA,PD,SA,SD,SP,BST,Type1,Type2,Abil1,Abil2
3,4,CHARMANDER,39,52,43,60,50,65,309,FIRE,...,BLAZE,...
4,5,CHARMELEON,58,64,58,80,65,80,405,FIRE,...,BLAZE,...
5,6,CHARIZARD,78,84,78,109,85,100,534,FIRE,FLYING,BLAZE,...

#### Accessing specific cells

In [ ]:
df.iloc[[0, 3, 6], [1, 9, 10]] # 0,3,6 is for rows # 1,9, 10 is for cols

         Name  Type1 Type2
0   BULBASAUR  GRASS   ...
3  CHARMANDER   FIRE   ...
6    SQUIRTLE  WATER   ...

#### Accessing specific rows based on some condition

In [ ]:
flying_type_mons = df.loc[df['Type1'] == "FLYING"].reset_index(drop = True)
flying_type_mons ##

,DexNum,Name,HP,PA,PD,SA,SD,SP,BST,Type1,Type2,Abil1,Abil2
0,21,SPEAROW,40,60,30,31,31,70,262,FLYING,...,KEEN_EYE,...
1,22,FEAROW,65,90,65,61,61,100,442,FLYING,DARK,KEEN_EYE,...
2,83,FARFETCH'D,52,65,55,58,62,60,352,FLYING,...,KEEN_EYE,INNER_FOCUS
3,84,DODUO,35,85,45,35,35,75,310,FLYING,...,RUN_AWAY,EARLY_BIRD
4,85,DODRIO,60,110,70,60,60,100,460,FLYING,FIGHTING,RUN_AWAY,EARLY_BIRD
5,163,HOOTHOOT,60,30,30,36,56,50,262,FLYING,...,INSOMNIA,KEEN_EYE
6,164,NOCTOWL,100,50,50,76,96,70,442,FLYING,GHOST,INSOMNIA,KEEN_EYE
7,177,PIDOVE,40,50,45,70,45,70,320,FLYING,...,SYNCHRONIZE,EARLY_BIRD
8,178,UNFEZANT,65,75,70,95,70,95,470,FLYING,PSYCHIC,SYNCHRONIZE,EARLY_BIRD

#### Getting statistics of the dataframe

In [31]:
df.describe()

,DexNum,HP,PA,PD,SA,SD,SP,BST
count,386.000000,386.000000,386.000000,386.000000,386.000000,386.000000,386.000000,386.000000
mean,193.500000,66.279793,71.505181,68.683938,66.409326,67.593264,64.308290,404.779793
std,111.572846,28.153834,28.326963,30.544812,27.469999,27.727484,27.034577,107.997695
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,180.000000
25%,97.250000,50.000000,50.000000,49.250000,45.000000,50.000000,45.000000,314.000000
50%,193.500000,63.000000,70.000000,65.000000,65.000000,65.000000,62.000000,410.000000
75%,289.750000,80.000000,90.000000,85.000000,85.000000,80.000000,85.000000,485.000000
max,386.000000,255.000000,160.000000,230.000000,154.000000,230.000000,160.000000,680.000000

#### Sorting the dataframe

In [36]:
# this sorts the df order by the specified column and creates / returns a new dataframe
# this doesnt overwrite the original dataframe
df.sort_values(['HP'], ascending=False).head(5).reset_index(drop = True)
df

,DexNum,Name,HP,PA,PD,SA,SD,SP,BST,Type1,Type2,Abil1,Abil2
0,1,NaN,45,49,49,65,65,45,318,GRASS,...,OVERGROW,...
1,2,IVYSAUR,60,62,63,80,80,60,405,GRASS,POISON,OVERGROW,...
2,3,VENUSAUR,80,82,83,100,100,80,525,GRASS,POISON,OVERGROW,...
3,4,CHARMANDER,39,52,43,60,50,65,309,FIRE,...,BLAZE,...
4,5,CHARMELEON,58,64,58,80,65,80,405,FIRE,...,BLAZE,...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,382,KYOGRE,100,100,90,150,140,90,670,WATER,...,DRIZZLE,...
382,383,GROUDON,100,150,140,100,90,90,670,GROUND,...,DROUGHT,...
383,384,RAYQUAZA,105,150,90,150,90,95,680,DRAGON,FLYING,AIR_LOCK,...
384,385,JIRACHI,100,100,100,100,100,100,600,GRASS,STEEL,SERENE_GRACE,...
385,386,MISSINGNO.,50,150,50,150,50,150,600,NORMAL,GHOST,PRESSURE,...

## Altering the structure in the dataframe

#### Adding a new column

In [53]:
# df['BST'] = df.iloc[:,4:10].sum(axis=1)

df['isDefensive'] = (df['PA'] + df['SA'] + df['SP'] < df['HP'] + df['PD'] + df['SD'])
df.head(9)

,DexNum,Name,HP,PA,PD,SA,SD,SP,BST,Type1,Type2,Abil1,Abil2,isDefensive
0,1,BULBASAUR,45,49,49,65,65,45,318,GRASS,...,OVERGROW,...,False
1,2,IVYSAUR,60,62,63,80,80,60,405,GRASS,POISON,OVERGROW,...,True
2,3,VENUSAUR,80,82,83,100,100,80,525,GRASS,POISON,OVERGROW,...,True
3,4,CHARMANDER,39,52,43,60,50,65,309,FIRE,...,BLAZE,...,False
4,5,CHARMELEON,58,64,58,80,65,80,405,FIRE,...,BLAZE,...,False
5,6,CHARIZARD,78,84,78,109,85,100,534,FIRE,FLYING,BLAZE,...,False
6,7,SQUIRTLE,44,48,65,50,64,43,314,WATER,...,TORRENT,...,True
7,8,WARTORTLE,59,63,80,65,80,58,405,WATER,...,TORRENT,...,True
8,9,BLASTOISE,79,83,100,85,105,78,530,WATER,STEEL,TORRENT,...,True

#### Dropping a column

In [50]:
# this drops the specified column and creates / returns a new dataframe
# this doesnt overwrite the original dataframe
df.drop(columns = ['isDefensive']).head(3)

,DexNum,Name,HP,PA,PD,SA,SD,SP,BST,Type1,Type2,Abil1,Abil2
0,1,BULBASAUR,45,49,49,65,65,45,318,GRASS,...,OVERGROW,...
1,2,IVYSAUR,60,62,63,80,80,60,405,GRASS,POISON,OVERGROW,...
2,3,VENUSAUR,80,82,83,100,100,80,525,GRASS,POISON,OVERGROW,...

In [54]:
# to permanently drop the column
df = df.drop(columns = ['isDefensive'])
df.head(3)

,DexNum,Name,HP,PA,PD,SA,SD,SP,BST,Type1,Type2,Abil1,Abil2
0,1,BULBASAUR,45,49,49,65,65,45,318,GRASS,...,OVERGROW,...
1,2,IVYSAUR,60,62,63,80,80,60,405,GRASS,POISON,OVERGROW,...
2,3,VENUSAUR,80,82,83,100,100,80,525,GRASS,POISON,OVERGROW,...

#### Rearranging the columns

In [62]:
# Be careful while using hardcoded values and re-running the cell
cols = list(df.columns.values)
cols
# this rearranges the specified column and creates / returns a new dataframe
# this doesnt overwrite the original dataframe

new_df = df[["Name"] + ["Type1"] + ["Type2"] + ["BST"]]
new_df.head(9)

         Name  Type1   Type2  BST
0   BULBASAUR  GRASS     ...  318
1     IVYSAUR  GRASS  POISON  405
2    VENUSAUR  GRASS  POISON  525
3  CHARMANDER   FIRE     ...  309
4  CHARMELEON   FIRE     ...  405
5   CHARIZARD   FIRE  FLYING  534
6    SQUIRTLE  WATER     ...  314
7   WARTORTLE  WATER     ...  405
8   BLASTOISE  WATER   STEEL  530

## Saving changes to a CSV

In [63]:
# df.to_excel("pokemon_modified_data.xlsx", index = False)
# df.to_csv("pokemon_modified_data.csv", index = False, sep = "\t")
new_df.to_csv("modified_pokedex.csv", index = False)

## Filtering the data

In [64]:
temp_df = df.loc[df['Type1'] == "FLYING"].reset_index(drop = True)

temp_df

,DexNum,Name,HP,PA,PD,SA,SD,SP,BST,Type1,Type2,Abil1,Abil2
0,21,SPEAROW,40,60,30,31,31,70,262,FLYING,...,KEEN_EYE,...
1,22,FEAROW,65,90,65,61,61,100,442,FLYING,DARK,KEEN_EYE,...
2,83,FARFETCH'D,52,65,55,58,62,60,352,FLYING,...,KEEN_EYE,INNER_FOCUS
3,84,DODUO,35,85,45,35,35,75,310,FLYING,...,RUN_AWAY,EARLY_BIRD
4,85,DODRIO,60,110,70,60,60,100,460,FLYING,FIGHTING,RUN_AWAY,EARLY_BIRD
5,163,HOOTHOOT,60,30,30,36,56,50,262,FLYING,...,INSOMNIA,KEEN_EYE
6,164,NOCTOWL,100,50,50,76,96,70,442,FLYING,GHOST,INSOMNIA,KEEN_EYE
7,177,PIDOVE,40,50,45,70,45,70,320,FLYING,...,SYNCHRONIZE,EARLY_BIRD
8,178,UNFEZANT,65,75,70,95,70,95,470,FLYING,PSYCHIC,SYNCHRONIZE,EARLY_BIRD

In [ ]:
temp_df = df.loc[((df['Type1'] == "FLYING") | (df['Type2'] == "FLYING")) & (df['BST'] >= 450)].reset_index(drop = True)

temp_df

,DexNum,Name,HP,PA,PD,SA,SD,SP,BST,Type1,Type2,Abil1,Abil2
0,6,CHARIZARD,78,84,78,109,85,100,534,FIRE,FLYING,BLAZE,...
1,18,PIDGEOT,83,80,75,70,70,91,469,NORMAL,FLYING,KEEN_EYE,...
2,42,GOLBAT,75,80,70,65,75,90,455,POISON,FLYING,INNER_FOCUS,...
3,49,BETTERFLY,70,65,60,90,75,90,450,BUG,FLYING,SHIELD_DUST,...
4,85,DODRIO,60,110,70,60,60,100,460,FLYING,FIGHTING,RUN_AWAY,EARLY_BIRD
5,123,SCYTHER,70,110,80,55,80,105,500,BUG,FLYING,SWARM,...
6,130,GYARADOS,95,125,79,60,100,81,540,WATER,FLYING,INTIMIDATE,...
7,142,AERODACTYL,80,105,65,60,75,130,515,ROCK,FLYING,ROCK_HEAD,PRESSURE
8,144,ARTICUNO,90,85,100,95,125,85,580,ICE,FLYING,PRESSURE,...
9,145,ZAPDOS,90,90,85,125,90,100,580,ELECTRIC,FLYING,PRESSURE,...
10,146,MOLTRES,90,100,90,125,85,90,580,FIRE,FLYING,PRESSURE,...
11,149,DRAGONITE,91,134,95,100,100,80,600,DRAGON,FLYING,INNER_FOCUS,...
12,169,CROBAT,85,90,80,70,80,130,535,POISON,FLYING,INNER_FOCUS,...
13,178,UNFEZANT,65,75,70,95,70,95,470,FLYING,PSYCHIC,SYNCHRONIZE,EARLY_BIRD
14,226,MANTINE,65,40,70,80,140,70,465,WATER,FLYING,SWIFT_SWIM,WATER_ABSORB
15,227,SKARMORY,65,80,140,40,70,70,465,STEEL,FLYING,KEEN_EYE,STURDY
16,234,BERDEER,73,95,62,85,65,85,465,GROUND,FLYING,INTIMIDATE,...
17,249,LUGIA,106,90,130,90,154,110,680,WATER,FLYING,PRESSURE,...
18,250,HO-OH,106,130,90,110,154,90,680,FIRE,FLYING,PRESSURE,...
19,291,NINJASK,61,90,45,50,50,160,456,BUG,FLYING,SPEED_BOOST,...
20,334,ALTARIA,75,70,90,70,105,80,490,DRAGON,FLYING,NATURAL_CURE,...
21,357,TROPIUS,99,68,83,72,87,51,460,GRASS,FLYING,CHLOROPHYLL,...
22,384,RAYQUAZA,105,150,90,150,90,95,680,DRAGON,FLYING,AIR_LOCK,...

In [ ]:
temp_df = df.loc[~(df['SP'] > 10)].reset_index(drop = True)

temp_df

# or  -> |
# and -> &
# not -> ~

,DexNum,Name,HP,PA,PD,SA,SD,SP,BST,Type1,Type2,Abil1,Abil2
0,213,KLEAVOR,20,10,230,10,230,5,505,BUG,ROCK,STURDY,...
1,328,TRAPINCH,45,100,45,45,45,10,290,GROUND,...,HYPER_CUTTER,ARENA_TRAP

In [81]:
temp_df = df.loc[df['Name'].str.contains("KING")]

temp_df

,DexNum,Name,HP,PA,PD,SA,SD,SP,BST,Type1,Type2,Abil1,Abil2
33,34,NIDOKING,81,92,77,85,75,85,495,POISON,GROUND,POISON_POINT,...
98,99,KINGLER,55,130,115,50,50,75,475,WATER,...,HYPER_CUTTER,SHELL_ARMOR
229,230,KINGDRA,75,95,95,95,95,85,540,WATER,DRAGON,SWIFT_SWIM,...
288,289,SLAKING,150,160,100,95,65,100,670,NORMAL,...,TRUANT,...

In [82]:
temp_df = df.loc[df["Name"].str.contains('^PI[A-Z]*', regex = True)]
# regular expression : ^PI[A-Z]* -> any name starting with "PI..."
temp_df

,DexNum,Name,HP,PA,PD,SA,SD,SP,BST,Type1,Type2,Abil1,Abil2
15,16,PIDGEY,40,45,40,35,35,56,251,NORMAL,FLYING,KEEN_EYE,...
16,17,PIDGEOTTO,63,60,55,50,50,71,349,NORMAL,FLYING,KEEN_EYE,...
17,18,PIDGEOT,83,80,75,70,70,91,469,NORMAL,FLYING,KEEN_EYE,...
24,25,PIKACHU,50,55,55,70,55,105,390,ELECTRIC,...,STATIC,...
126,127,PINSIR,65,125,100,55,70,85,500,BUG,DARK,HYPER_CUTTER,...
171,172,PICHU,20,40,15,35,35,60,205,ELECTRIC,...,STATIC,...
176,177,PIDOVE,40,50,45,70,45,70,320,FLYING,...,SYNCHRONIZE,EARLY_BIRD
203,204,PINECO,50,65,90,35,35,15,290,BUG,...,STURDY,...
220,221,PILOSWINE,100,100,80,60,60,50,450,ICE,GROUND,OBLIVIOUS,...

## Updating values

#### Updating values based on some condition

In [ ]:
# temp_df = df
# makes a shallow copy

# It's safer to make a deep copy

temp_df = df.copy()
temp_df.loc[temp_df['Type2'] == "POISON", 'Type2'] = 'VENOM'
# temp_df.loc[condition, columnToUpdate] = newValue

temp_df.head(6)

,DexNum,Name,HP,PA,PD,SA,SD,SP,BST,Type1,Type2,Abil1,Abil2
0,1,BULBASAUR,45,49,49,65,65,45,318,GRASS,...,OVERGROW,...
1,2,IVYSAUR,60,62,63,80,80,60,405,GRASS,VENOM,OVERGROW,...
2,3,VENUSAUR,80,82,83,100,100,80,525,GRASS,VENOM,OVERGROW,...
3,4,CHARMANDER,39,52,43,60,50,65,309,FIRE,...,BLAZE,...
4,5,CHARMELEON,58,64,58,80,65,80,405,FIRE,...,BLAZE,...
5,6,CHARIZARD,78,84,78,109,85,100,534,FIRE,FLYING,BLAZE,...

In [84]:
# updating the value of one column based on a condition on multiple columns
temp_df = df.copy()
temp_df.loc[(temp_df['Type2'] == "POISON") | (temp_df['Type2'] == "FLYING"), 'SP'] += 1000
temp_df.head(6)

,DexNum,Name,HP,PA,PD,SA,SD,SP,BST,Type1,Type2,Abil1,Abil2
0,1,BULBASAUR,45,49,49,65,65,45,318,GRASS,...,OVERGROW,...
1,2,IVYSAUR,60,62,63,80,80,1060,405,GRASS,POISON,OVERGROW,...
2,3,VENUSAUR,80,82,83,100,100,1080,525,GRASS,POISON,OVERGROW,...
3,4,CHARMANDER,39,52,43,60,50,65,309,FIRE,...,BLAZE,...
4,5,CHARMELEON,58,64,58,80,65,80,405,FIRE,...,BLAZE,...
5,6,CHARIZARD,78,84,78,109,85,1100,534,FIRE,FLYING,BLAZE,...

In [ ]:
# updating the value of multiple columns based on a condition on one column
temp_df = df.copy()
temp_df.loc[(temp_df['Type1'] == "GRASS"), ['PD', 'SD']] += [1000, 2000]
temp_df.head(6)

,DexNum,Name,HP,PA,PD,SA,SD,SP,BST,Type1,Type2,Abil1,Abil2
0,1,BULBASAUR,45,49,1049,65,2065,45,318,GRASS,...,OVERGROW,...
1,2,IVYSAUR,60,62,1063,80,2080,60,405,GRASS,POISON,OVERGROW,...
2,3,VENUSAUR,80,82,1083,100,2100,80,525,GRASS,POISON,OVERGROW,...
3,4,CHARMANDER,39,52,43,60,50,65,309,FIRE,...,BLAZE,...
4,5,CHARMELEON,58,64,58,80,65,80,405,FIRE,...,BLAZE,...
5,6,CHARIZARD,78,84,78,109,85,100,534,FIRE,FLYING,BLAZE,...

In [87]:
# updating the value of multiple columns based on a condition on multiple columns
temp_df = df.copy()
temp_df.loc[(temp_df['Type2'] == "POISON") | (temp_df['Type2'] == "FLYING"), ['PD', 'SD']] += [1000, 2000]
temp_df.head(6)

,DexNum,Name,HP,PA,PD,SA,SD,SP,BST,Type1,Type2,Abil1,Abil2
0,1,BULBASAUR,45,49,49,65,65,45,318,GRASS,...,OVERGROW,...
1,2,IVYSAUR,60,62,1063,80,2080,60,405,GRASS,POISON,OVERGROW,...
2,3,VENUSAUR,80,82,1083,100,2100,80,525,GRASS,POISON,OVERGROW,...
3,4,CHARMANDER,39,52,43,60,50,65,309,FIRE,...,BLAZE,...
4,5,CHARMELEON,58,64,58,80,65,80,405,FIRE,...,BLAZE,...
5,6,CHARIZARD,78,84,1078,109,2085,100,534,FIRE,FLYING,BLAZE,...

## Aggregate Statistics / Group By

In [ ]:
df.describe()

In [ ]:
print(df.dtypes)

In [ ]:
# grouping based on typing such that charizard gets counted in both FIRE & FLYING type
df.groupby(['Type1']).mean(numeric_only=True)

# df.groupby('Type1').mean(numeric_only=True)

In [ ]:
df.groupby('Type1').mean(numeric_only=True).sort_values('BST', ascending=False).head(5)

In [ ]:
df.groupby('Type1').sum(numeric_only=True).sort_values('BST', ascending=False).head(5)

In [ ]:
df.groupby(['Type1', 'Type2']).count().sort_values('BST', ascending=False)

## Working with a large amounts of data
Incompelete

In [ ]:
temp_df = pd.DataFrame(columns=df.columns)
temp_df

In [ ]:
for df in pd.read_csv('pokedex.csv', chunksize=5):
    results = df.groupby('Type1').count()
    temp_df = pd.concat([temp_df, results])

temp_df